name: ci

on: [push, workflow_dispatch]
  branches:
    - 'main'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Setup QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: rafaelreisramos/wongames-database:latest
      -
        name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
